html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    background-color: #bd0600; /* Red background color */
    color: #FFFFFF; /* White text color */
    padding: 1em 0;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 1em;
}

.nav-links, .social-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links {
    flex: 1;
    justify-content: flex-start;
}

.nav-links li, .social-links li {
    margin: 0 20px;
}

.nav-links a, .social-links a {
    color: #FFFFFF; /* White text color */
    text-decoration: none;
    font-weight: bold;
    /* font-size: 17.6px; */
}

.nav-links li a:hover, .social-links li a:hover {
    text-decoration: underline;
    transition: text-decoration 0.3s;
}

.header-title {
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
}

.header-title a {
    font-family: 'Dapifer', serif; /* Applying Dapifer font */
    color: #FFFFFF; /* White text color */
    text-decoration: none;
    /* font-size: 32px; */
    font-size: 2em;
    font-weight: bold;
}

.social-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}


.about-me, .projects, .contact {
    text-align: center;
}

.about-me {
    background-color: #bd0600; /* Red background */
    color: #FFFFFF; /* White text color */
    padding: 2em;
}

.projects {
    background-color: #ffca0a; /* Yellow background */
    color: #2e1499; /* Darker text color for better contrast */
    padding: 10em;
}

.about-me h2, .projects h2 {
    font-size: 2.5em;
    /* 57.6px; */ /* Adjust size as needed */
    font-weight: bold; /* Adjust weight as needed */
}

.profile-pic {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.about-me p {
    font-size: 17.6px; /* Adjust size as needed */
    font-weight: normal; /* Adjust weight as needed */
    max-width: 1000px;
    margin: 1em auto 0; /* Center the content */
    line-height: 1.5; /* Adjust line height for readability */
}

/* Project styles */
.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the content */
    gap: 20px; /* Add space between project boxes */
    padding: 2em 0; /* Padding for the project section */
}

.project {
    margin-top: 60px;
    background-color: #ff5100; /* Orange background */
    padding: 2em;
    border-radius: 10px;
    width: 300px; /* Fixed width */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.project h3 {
    font-family: 'Dapifer', serif; /* Applying Dapifer font */
    font-size: 1.2em;
    color: #2e1499; /* Purple text color */
}

.project p {
    font-size: 0.9em;
    color: #2e1499; /* Darker text color for better contrast */
    line-height: 1.5; /* Adjust line height for readability */
}

.project a {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #cf5100;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.project a:hover {
    background-color: #af5100;
    transform: scale(1.05);
    transition: transform 0.2s, background-color 0.3s;
}

.contact {
    padding: 2em;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact label {
    margin: 0.5em 0 0.2em;
    font-weight: bold;
}

.contact input, .contact textarea {
    width: 100%;
    max-width: 500px;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact button {
    padding: 0.5em 1em;
    background-color: #af1100;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact button:hover {
    background-color: #8f0f00;
}

footer {
    background-color: #2e1499; /* Purple background color */
    color: #FFFFFF; /* White text color */
    text-align: center;
    padding: 2em 0; /* Increased padding for better spacing */
}

.footer-social-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-social-links li {
    margin-right: 10px;
}

.footer-social-links li a {
    color: #FFFFFF; /* White text color */
    text-decoration: none;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .nav-links li, .social-links li {
        margin-right: 15px; /* Adjust spacing for medium screens */
    }

    .project {
        flex: 0 1 calc(33.33% - 1em); /* Three columns */
    }
}

@media (max-width: 1024px) {
    /* Styles for tablets in landscape mode */
}

@media (max-width: 768px) {
    .navigation-home {
        flex-direction: column;
        align-items: center;
    }

    .nav-links, .social-links {
        flex-direction: row;
        align-items: center;
    }

    .header-title {
        order: -1;
        margin-bottom: 1em;
    }

    .nav-links li, .social-links li {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .nav-links li a, .social-links li a {
        font-size: 1.2em;
    }

    .project {
        flex: 0 1 calc(50% - 1em); /* Two columns */
    }
}

@media (max-width: 600px) {
    /* Styles for smaller devices */
}

@media (max-width: 480px) {
    .project {
        flex: 0 1 calc(100% - 1em); /* One column */
    }
}
